<?xml version="1.0" encoding="utf-8"?>
<robot name="pylone" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <material name="grey">
    <color rgba="0.0 0.9 0.9 1.0"/>
  </material>

  <link name="pylone_link">
    <visual>
      <geometry>
        <mesh filename="file://$(find agimus_demo_07_tiago_pro_deburring)/urdf/visual/pylone.stl"
              scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file://$(find agimus_demo_07_tiago_pro_deburring)/urdf/collision/pylone.stl"
              scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>

  <gazebo>
    <static>true</static>
  </gazebo>

</robot>
